:root{
    --error-red:rgb(252, 121, 121);
    --grey-1:#4B4B4B;
    --bg-black-dark:#171717;
    --bg-black-light:#202020;
    --bg-black-dark2:#252525;
    --text-grey-medium:#9DA2AF;
    --text-grey-light:rgb(98, 97, 97);
    --bg-pink-primary:#A854F7;
    --bg-pink-light:#332B3B;
} 