.singleconvo_container{
    width: 100%;
    min-height: 70px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.chattingContainer{
  background-color: var(--bg-pink-light);
}

.singleconvo_container:hover{
  background-color:  var(--bg-pink-light);
}

.singleconvo_container .imageContainer{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: clip;
  flex-shrink: 0;
}

.singleconvo_container img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.singleconvo_container .contentContainer{
   display: flex;
   flex-direction: column;
   flex: 1;
   min-width: 0; /* This is important for text truncation to work */
}

.lastMessageContainer{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.lastMessage{
  font-size: 12px;
  color: var(--text-grey-medium);
  margin-top: 5px;
  flex: 1;
  min-width: 0; /* This is important for text truncation to work */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lastMessageTime{
  font-size: 12px;
  color: var(--text-grey-medium);
  margin-top: 5px;
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: auto;
}

.singleconvo_container > div p{
    padding-left: 10px;
    font-weight: 400;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
